---
const year = new Date().getFullYear();
---

<div
  class="flex justify-between items-center p-6 sm:pt-12 sm:mx-3 font-medium sm:px-32"
>
  <div class="flex">
    <a href="https://github.com/tejxsmore" target="_blank">
      <img src="/img/github.jpg" alt="GitHub" class="h-10 pr-6" /></a
    >
    <a href="https://linkedin.com/in/tejxsmore" target="_blank">
      <img src="/img/linkedin.jpg" alt="Linked In" class="h-10" /></a
    >
  </div>
  <div>© {year}</div>
</div>
